/* Main Attributes*/
* {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: #d4b7b7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
  padding: 1rem;
}

.logo {
  height: 4rem;
}

.nombrePagina {
  padding: 1rem;
}

.navBar {
  font-size: 1rem;
  display: inline;
  padding: 1rem;
}

.nav-bar {
  color: #fefefe;
  border-radius: 50px;
  transition: 0.2s;
}

.nav-bar ul li a:hover {
  color: #fefefe;
}

.nav-bar ul li a.active {
  color: #fefefe;
  background: #d4b7b7;
}

a {
  color: rgb(14, 13, 13); /*para que se cambie de color a gris*/
  text-decoration: none;
}

a:hover {
  color: gray;
}
a:visited {
  color: black;
}

/* seccion Animales*/

.contenedor-animales {
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #dddddd;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  width: 65%;
  margin: auto;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.contenedor-animales h2 {
  text-align: center;
  padding: 1rem;
}

#carouselExampleCaptions {
  width: 65%;
  height: 40%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.carousel-item h5 {
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 2rem;
}

/* seccion historia*/

.contenedor-historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  align-content: center;
}

.mision, .vision {
  display: flex;
  align-items: center;
  max-width: 65%;
  flex-direction: row;
  justify-content: center;
}

.nosotros {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #dddddd;
  border-radius: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

.nosotros p {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}

.fotomision, .fotovision {
  width: 34%;
  border-radius: 30px;
  margin: 0 1rem;
}

.titulovision,
.titulomision {
  font-size: 2rem;
}

.contenedor-fundacion {
  display: flex;
  justify-content: center;
}

.fundacion {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-image: url(img/perroabrazo1.jpg);
  background-size: cover;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 2vh;
  border-radius: 30px;
  display: flex;
  width: 63%;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  align-items: center;
}

.fundacion p {
  padding: 0.5rem;
}

@media (max-width: 1200px) {
  .mision {
    flex-direction: column;
    max-width: 80%;
  }
  .vision {
    flex-direction: column-reverse;
    max-width: 80%;
  }
  .fotomision,.fotovision{
  margin: 1rem;
  width: 80%;
  }
}


/*Seccion contacto*/

.section-title {
  text-align: center;
  padding: 25px 0;
  margin-bottom: 2rem;
}

.contenedor-contacto {
  margin-bottom: 3rem;
}

.section-title h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: oswald;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0, 0, 0.1);
}

.section-title h2 span {
  color: #d4b7b7;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.data {
  margin-bottom: 5%;
}

.data h2 {
  margin-bottom: 0.25rem;
  margin-top: 0.35rem;
}

.contact-form {
  display: flex;
  flex-direction: column;

}
.name-email {
  height: 2rem;
  width: 50%;
}

.form-group {
  width: 98%;
}

.form-control {
  width: 100%;
  height: 4rem;

}
.contact-form .btn {
  width: 100%;
  background: #d4b7b7;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 50px;
  letter-spacing: 2px;
}
.map-area {
  display: flex;
  align-items: center;
  width: 600px;
  height: 465px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 10%;
}

.map-area iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Seccion donaciones*/

.pricing-area {
	padding: 70px 0;
}
.single-price {
	padding-bottom: 25px;
	background: #fff;
	text-align: center;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}
.single-price a {
	background: #b89090;
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	border-radius: 25px;
	display: inline-block;
}
.single-price:hover {
	cursor: pointer;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
	transform: scale(1.04);
}
.single-price::before {
	content: "";
	width: 100%;
	height: 350px;
	background: #d4b7b7;
	position: absolute;
	top: -150px;
	left: 0;
	transform: skewY(-20deg);
}
.single-price .price-header {
	padding: 20px 20px 60px;
	text-align: left;
	position: relative;
}
.single-price .title {
	font-size: 30px;
	font-weight: 600;
	color: black;
	text-transform: uppercase;
	margin: 0;
}
.single-price .price-value {
	display: inline-block;
	width: 170px;
	height: 100px;
	padding: 15px;
	border-top: none;
	border-bottom: none;
	position: relative;
}
.single-price .value {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 5px solid #262626;
	border-top: none;
	border-bottom: none;
	z-index: 1;
	position: relative;
}
.single-price .value::before, .single-price .value::after {
	content: "";
	width: 110px;
	height: 100px;
	background: #fff;
	border: 5px solid #262626;
	border-bottom: none;
	border-right: none;
	position: absolute;
	top: -48px;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%) scaleY(0.5) rotate(45deg);
}
.single-price .value::after {
	border-right: 5px solid #262626;
	border-bottom: 5px solid #262626;
	border-top: none;
	border-left: none;
	top: auto;
	bottom: -48px;
}
.single-price .currency {
	display: inline-block;
	font-size: 30px;
	margin-top: 7px;
	vertical-align: top;
}
.single-price .amount {
	display: inline-block;
	font-size: 40px;
	font-weight: 600;
	line-height: 65px;
}
.single-price .amount span {
	display: inline-block;
	font-size: 30px;
	font-weight: normal;
	vertical-align: top;
	margin-top: -7px;
}
.single-price .month {
	display: block;
	font-size: 16px;
	line-height: 0;
}
.single-price .deals {
	padding: 70px 0 0 0;
	margin-bottom: 20px;
	list-style: none;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.single-price .deals li {
	padding: 7px 0;
	font-size: 16px;
	color: #808080;
	position: relative;
}
@media only screen and (max-width: 990px) {
	.single-price {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.single-price:before {
		transform: skewY(-15deg);
	}
	.single-price .title {
		font-size: 22px;
	}
}

/* Footer */

footer {
  background-color: #d4b7b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  padding: 1rem;
  margin-top: auto;
}

.footerBar {
  font-size: 0.75rem;
  list-style: none;
  display: inline;
  padding: 0.75rem;
}

/* Estilos para el modo noche */

body.night-mode {
  background-color: #313131;
  color: white;
}

header.night-mode,
footer.night-mode {
  background-color: #1f1f1f; /* Color de fondo nocturno para header y footer */
  color: white; /* Color de texto nocturno para header, footer, enlaces y párrafos seleccionados */
}

a.night-mode {
  color: white;
  background-color: transparent; /* Fondo transparente para enlaces en modo nocturno */
}

a.night-mode:hover,
a.night-mode:active,
a.night-mode:focus {
  color: #818181; /* Color del enlace nocturno al pasar el cursor */
  background-color: transparent; /* Mantener el fondo transparente al pasar el cursor */
}

h2.night-mode,
p.night-mode {
  color: black; /* Color de texto nocturno para h2 */
}

.titulovision.night-mode,
.titulomision.night-mode {
  color: black; /* Color de texto nocturno para los títulos de visión y misión */
}

/* Estilos del botón */
#toggle-mode {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 20px;
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
  color: inherit;
  transition: color 0.3s;
  display: flex;
}

#toggle-mode:hover {
  color: #ffc107; /* Color dorado para el hover */
}

