/* Main Attributes*/
* {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: #d4b7b7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
  padding: 1rem;
}

.logo {
  height: 4rem;
}

.nombrePagina {
  padding: 1rem;
}

.navBar {
  font-size: 1rem;
  display: inline;
  padding: 1rem;
}

.nav-bar {
  color: #fefefe;
  border-radius: 50px;
  transition: 0.2s;
}

.nav-bar ul li a:hover {
  color: #fefefe;
  background: #d4b7b7;
}

.nav-bar ul li a.active {
  color: #fefefe;
  background: #d4b7b7;
}

a {
  color: rgb(14, 13, 13); /*para que se cambie de color a gris*/
  text-decoration: none;
}

a:hover {
  color: gray;
}
a:visited {
  color: black;
}

/* seccion Animales*/

.contenedor-animales {
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #dddddd;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  width: 65%;
  margin: auto;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.contenedor-animales h2 {
  text-align: center;
  padding: 1rem;
}

#carouselExampleCaptions {
  width: 65%;
  height: 40%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.carousel-item h5 {
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 2rem;
}

/* seccion historia*/

.contenedor-historia {
  display: flex;
  padding-left: 10%;
}

.nosotros {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #dddddd;
  border-radius: 25px;
  display: flex;
  text-align: center;
  width: 63.5%;
  min-height: 210px;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.nosotros p {
  margin-top: 0.25rem;
  display: flex;
  justify-content: flex-start;
}

.mision .vision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fotovision,
.fotomision {
  width: 67.5%;
  min-height: 275px;
  max-height: 380px;
  border-radius: 30px;
  margin: 1rem;
  padding: 1rem;
}

.titulovision,
.titulomision {
  font-size: 2rem;
  margin: 1rem;
}

.contenedor-fundacion{
display: flex;
justify-content: center;
}

.fundacion {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-image: url(img/perroabrazo1.jpg);
  background-size: cover;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 2vh;
  border-radius: 30px;
  display: flex;
  width: 75%;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  align-items: center;
}

.fundacion p{
padding: 0.5rem;
}

/*Seccion contacto*/

.section-title {
  text-align: center;
  padding: 25px 0;
  margin-bottom: 2rem;
}

.contenedor-contacto {
  margin-bottom: 3rem;
}

.section-title h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: oswald;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0, 0, 0.1);
}
.section-title h2 span {
  color: #d4b7b7;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.data {
  margin-bottom: 5%;
}

.data h2 {
  margin-bottom: 0.25rem;
  margin-top: 0.35rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.name-email {
  height: 2rem;
  width: 50%;
}
.form-group {
  width: 100%;
}
.form-control {
  width: 100%;
  height: 4rem;
}
.contact-form .btn {
  width: 100%;
  background: #d4b7b7;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 50px;
  letter-spacing: 2px;
}
.map-area {
  display: flex;
  align-items: center;
  width: 600px;
  height: 465px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 10%;
}

.map-area iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Footer */

footer {
  background-color: #d4b7b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  padding: 1rem;
  margin-top: auto;
}

.footerBar {
  font-size: 0.75rem;
  list-style: none;
  display: inline;
  padding: 0.75rem;
}
